.online-indicator {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1;
  margin-top: -3px;
  width: 0.5rem;

  &.online {
    color: #28a745; // Bootstrap success green
  }

  &.offline {
    color: #dc3545; // Bootstrap danger red
  }
}

.card-header {
  .online-indicator {
    color: white;
    opacity: 0.8;
  }
}

.rotating {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
